img{
    width:90px;
    height: 90px;
}

nav{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

nav ul {
    list-style-type: none;
    padding: 0;
  }
  
nav ul li {
  text-align: center;
  margin: 10px 0;
}

nav ul li img {
  max-width: 100%;
  height: auto;
}
  
