img{
    width:90px;
    height: 90px;
}

nav ul {
    list-style-type: none;
    padding: 0;
  }
  
nav ul li {
  text-align: center;
  margin: 10px 0;
}

nav ul li img {
  max-width: 100%;
  height: auto;
}
  
